.index:global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 모달창 크기 */
  width: 330px;
  height: 392px;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translate(-50%);

  /* 모달창 디자인 */
  background: #ffffff;
  border-radius: 10px;
  font-family: "Noto Sans KR";
  font-style: normal;
  > .infoModalTitle {
    margin-top: 20px;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.374px;
    margin-bottom: 14px;
  }
  > .infoModalBody {
    text-align: start;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #434343;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
  }
  > .infoModalSupport {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #434343;
    margin-bottom: 24.5px;
    margin-left: 25px;
    margin-right: 25px;
  }

  > .modalCheck {
    width: 260px;
    height: 35px;
    background: #6892ff;
    border-radius: 100px;
    margin-bottom: 27.5px;
    border-width: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
  }
}
