.index:global {
  > .InfoSave {
    display: flex;
    height: 24px;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 44px;
    padding-bottom: 23px;
  }
  > .ModalBackground {
    position: absolute;
    z-index: 99;
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto 20px;
    width: 366px;
    height: 625px;
    backdrop-filter: blur(5px);
    background-color: #00000088;
  }
}
