.index:global {
  position: relative;
  height: 100%;
  text-align: center;
  > .Share {
    position: absolute;
    top: 125px;
    right: 25px;
  }
  > .forDesktop {
    width: 326px;
    height: 785px;
  }
}
