.index:global {
  position: relative;
  height: 100%;
  text-align: center;
  > .Share {
    position: absolute;
    top: 125px;
    right: 25px;
  }
  > .forDesktop {
    width: 450px;
    height: 1083px;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%) translateY(-105px) scale(0.8);
    > .desktopImg {
      top: 134px;
      left: -48px;
      position: absolute;
      margin: 0 auto;
      width: 543px;
    }
    > .inPhone {
      position: absolute;
      margin: 0 auto;
      padding: 0 66.5px 40px;
      top: 290px;
      width: 412px;
      height: 760px;
      > .desktopShare {
        position: absolute;
        top: 0px;
        right: 110px;
      }
    }
  }
}
