.index:global {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: none;
    padding: 2px;
    &.alive {
        padding: 0px;
        border: 2px dashed;
        animation: rainbow linear 1s infinite;
        > .handle {
            display: block;
        }
    }
    > .handle {
        width: 20px;
        height: 20px;
        border: 2px solid;
        animation: rainbow linear 1s infinite;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        right: -10px;
        bottom: -10px;
        display: none;
    }
    > .content {
        height: 100%;
        width: 100%;
    }
}

