.index:global {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: none;
    padding: 1px;
    &.hover {
        padding: 0px;
        border: 1px dashed gray;
        > .handle {
            display: block;
        }
    }
    > .handle {
        width: 10px;
        height: 10px;
        border: 2px solid gray;
        box-sizing: border-box;
        border-radius: 50%;
        position: absolute;
        left: -5px;
        top: -5px;
        display: none;
    }
    > .content {
        width: 100%;
    }
}
