.index:global {
  position: absolute;
  background-color: transparent;
  > .wmk {
    height: 16px;
    font-size: 16px;
    position: absolute;
    margin: 0;
    width: fit-content;

    font-style: normal;
    // line-height: 80%;
    /* identical to box height, or 80% */

    display: flex;
    align-items: center;
    text-align: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 1;
    //text-shadow: 4px 4px 8px #000000;
  }
  > .wmkBack {
    height: 16px;
    font-size: 16px;
    position: absolute;
    margin: 0;
    width: fit-content;

    font-style: normal;
    // line-height: 80%;
    /* identical to box height, or 80% */

    display: flex;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 2px black;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 0;
  }
}
